:root > * {
  --md-primary-fg-color: #160f26;

  --md-typeset-a-color: #4924ce;
  --md-accent-fg-color: #a9a1c6;
}

[data-md-color-scheme="slate"] {
  --md-typeset-a-color: #8876c7;
  --md-accent-fg-color: #a9a1c6;
}

/* Theme-aware image display */
[data-md-color-scheme="default"] .only-dark {
  display: none;
}

[data-md-color-scheme="slate"] .only-light {
  display: none;
}

.md-content a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  margin-bottom: 3rem;
}
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
